@import "../../style/css/mixins.scss";

.regions {	
	width: 74%;
	max-width: var(--max-width-block);
	margin-inline-start: 5.7vw;
	margin-block-end: 3.4vw;
	display: flex;
	flex-wrap: wrap;
	column-gap: 8.25vw;
	@media screen and (max-width: 1500px) {
		column-gap: 5vw;
	}

	&__cities {
		flex-grow: 1;
		width: calc((100% - 8.25vw) / 2);
		font-family: var(--font-third);
		@include font (400, clamp(6px, 0.5vw, 8px), 1.2em);
		color: var(--gray-70);
	}

	&__title {
		width: calc((95% - 8.25vw) / 2);
		padding-inline-start: 3vw;
		@include font (500, clamp(24px, 2.5vw, 40px), 1.05em);
		color: var(--blue-900);

		&_blue {
			padding-inline-start: 0;
			color: var(--blue-300);
		}
	}

	&__image {
		width: calc((95% - 8.25vw) / 2);
		margin-block-start: -7vw;
	}

	&__list-wrapper {
		width: calc((95% - 8.25vw) / 2);
	}

	&__subtitle {
		margin-block: 3.25vw;
		font-family: var(--font-third);
		@include font (400, clamp(12px, 1.25vw, 20px), 1.2em);
		color: var(--blue-900);
	} 

	&__list {
		list-style-type: square;
		list-style-position: inside;
	}

	&__item {
		margin-block-end: 13px;
		@include font (400, clamp(10px, 0.9vw, 14px), 1.3em);
		text-transform: lowercase;
		color: var(--gray-600);
	}

	&__item::marker {
		color: var(--orange-red);
		font-size: 25px;
	}
}

@media screen and (max-width: 1000px) {
	.regions {
		width: 86%;
		margin-inline: auto;
		margin-block-end: 7.3vw;
		flex-direction: column;

		&__cities {
			width: 79%;
			margin-inline: auto;
			margin-block-start: 16px;
		}

		&__title {
			width: 82.3%;
			padding-inline-start: 0;
			margin-inline: auto;
			text-align: center;
			span {
				display: block;
			}
		}

		&__image {
			width: 69%;
			margin-inline: auto;
			margin-block-start: 0;
		}

		&__list-wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__subtitle {
			margin-block: 0 6vw;
		} 

		&__item {
			margin-block-end: 16px;
		}
	}
}