@import "../../style/css/mixins.scss";

.banner {	
	width: 85%;
	max-width: var(--max-width-block);
	margin-inline: auto;
	margin-block: 3.9vw 5.7vw;
	display: flex;
	gap: 9vw;

	&__wrapper-left {
		width: 80%;
	}

	&__title {
		margin-block: 1vw 2.8vw;
		@include font (400, clamp(24px, 2.5vw, 40px), 1.2em);
		color: var(--blue-900);
		letter-spacing: 0.01em;

		&_blue {
			color: var(--blue-300);
		}

		@media screen and (max-width: 600px) {
			width: 97%;
			margin-inline: auto;
		}
	}

	&__description {
		width: 83%;
		@include font (400, clamp(12px, 1.25vw, 20px), 1.4em);
		color: #727477;
	}

	&__wrapper-right {
		border-radius: 25px;
		box-shadow: 0px 4px 21.5px 0px #0E84E51C;
		padding: 3.6vw 2.8vw;
		background-image: url(../../images/whyRating/wallet.svg);
		background-size: 29%;
		background-repeat: no-repeat;
		background-position: top 5% right 8%;
	}

	&__subtitle {
		width: 53%;
		margin-block: 0 2vw;
		@include font (400, clamp(12px, 1.25vw, 20px), 1.4em);
		color: #2672CA;
	}

	&__info {
		width: 62%;
		@include font (400, clamp(10px, 1vw, 16px), 1.2em);
		color: #848484;
	}
}

@media screen and (max-width: 940px) {
	.banner {	
		flex-direction: column;
		align-items: center;
		gap: 5vw;
		text-align: center;

		@media screen and (max-width: 490px) {
			gap: 8.3vw;
		}

		&__wrapper-left {
			width: 87%;
		}

		&__description {
			margin-inline: auto;
			@media screen and (max-width: 600px) {
				width: 100%;
			}
		}

		&__wrapper-right {
			min-height: 35vw;
			padding: 1vw 9vw 5vw 9vw;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			background-size: 21%;
			background-position: top 5% center;

			@media screen and (max-width: 750px) {
				min-height: 45vw;
				padding-block-end: 6.2vw;
			}

			@media screen and (max-width: 390px) {
				min-height: 50vw;
			}
		}

		&__subtitle {
			width: 75%;
			margin-block: 0 2.3vw;

			@media screen and (max-width: 750px) {
				width: 68%;
			}
			@media screen and (max-width: 600px) {
				width: 100%;
			}
			@media screen and (max-width: 450px) {
				font-size: 10px;
			}
		}

		&__info {
			width: 75%;
			@media screen and (max-width: 600px) {
				width: 100%;
			}
			@media screen and (max-width: 450px) {
				font-size: 8px;
			}
		}
	}
}