@import "../../style/css/mixins.scss";

.footer {
	min-height: 30vw;
	padding-block: 52px 25px;
	border-radius: 20px;
	// display: grid;
	// grid-template-columns: 7.6% 21.4% 5.7% 42% 5.9% 1fr 6%;
	// grid-template-rows: 56px 108px 1fr;
	@include font (400, clamp(12px, 1vw, 16px), 1.4em);
	background-color: var(--blue-500);
	color: #FFFFFF;

	&__title {
		grid-area: 1/2/2/3;
		text-transform: uppercase;
		@include font (600, clamp(16px, 1.9vw, 32px), 1.15em);
	}

	&__contacts {
		grid-area: 2/2/3/3;
		align-self: center;
		display: flex;
		flex-direction: column;
		// gap: 52px;
	}

	&__subtitle {
		margin: 0;
		@include font (500, clamp(13px, 1.5vw, 24px), 1.3em);
	}

	&__contact {
		color: #FFFFFF;
		@include font (400, clamp(14px, 1vw, 16px), 1.4em);
	}

	&__politics {
		grid-area: 3/6/4/7;
		align-self: center;
		color: #BEBBBB;
		@include font (400, 11px, 15px);
	}

	button {
		grid-area: 3/2/4/3;
		color: #595454;
	}
}

.navbar {
	grid-area: 1/4/2/6;
	align-self: center;
	@media screen and (min-width: 1700px) {
		grid-area: 1/4/2/5;
	}

	&__links {
		display: flex;
		flex-direction: column;
	}
	
	&__link {
		color: #FFFFFF;;
	}
}

// @media screen and (max-width: 1000px) {
// 	.footer {
// 		padding-block: 19px 79px;
// 		grid-template-columns: 7.5% 37.8% 5% 36% 1fr;

// 		@media screen and (max-width: 420px) {
// 			grid-template-columns: 5% 37.8% 10% 1fr 5%;
// 		}

// 		&__contacts {
// 			flex-direction: column;
// 			gap: 15px;
// 		}

// 		&__politics {
// 			display: none;
// 		}

// 		button {
// 			grid-area: 3/2/4/3;
// 		}
// 	}

// 	.navbar {
// 		grid-area: 2/4/4/5;
// 		&__links {
// 			flex-direction: column;
// 			gap: 13px;
// 		}
// 	}
// }