@import "../../style/css/mixins.scss";

.reviews {	
	width: 74%;
	max-width: var(--max-width-block);
	margin-inline-start: 5.7vw;
	display: grid;
	grid-template-columns: 40% 9% 1fr;
	margin-block-end: 2vw;

	&__title {
		width: 62%;
		grid-area: 1/3/2/4;
		@include font (500, clamp(24px, 2.5vw, 40px), 1.05em);
		color: var(--blue-900);

		&_blue {
			color: var(--blue-300);
		}
		
		@media screen and (min-width: 1650px) {
			margin-block-start: 6vw;
		}
	}

	&__description {
		grid-area: 1/3/2/4;
		margin-block-start: 12.7vw;
		@include font (400, clamp(12px, 1.25vw, 20px), 1.2em);
		color: #87898C;
	}

	&__image {
		grid-area: 1/1/2/2;
		width: 110%;
		margin-block-start: -3vw;
	}

	&__info {
		grid-area: 1/1/2/2;
		width: 76%;
		margin-block-end: 5vw;
		align-self: flex-end;
		justify-self: center;
		@include font (400, clamp(12px, 1vw, 16px), 1.2em);
		color: var(--blue-900);
	}
}

@media screen and (max-width: 1000px) {
	.reviews {	
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-block-end: 8vw;

	&__title {
		width: 95%;
		align-self: center;
	}

	&__description {
		margin-block-start: 0;
	}

	&__image {
		width: 100%;
		transform: scale(1.4);
		margin-block: -15vw;
	}

	&__info {
		width: 100%;
		margin-block-start: 20px;
	}
}
}